<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{197,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,268}}</string>
                <key>sourceSize</key>
                <string>{197,268}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,268}}</string>
                <key>sourceSize</key>
                <string>{197,268}</string>
            </dict>
            <key>card_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,268},{107,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,137}}</string>
                <key>sourceSize</key>
                <string>{107,137}</string>
            </dict>
            <key>card_i_0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{167,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,225}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,269},{163,219}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{163,219}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,269},{163,219}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{163,219}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{163,219}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{163,219}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,271},{163,221}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{163,221}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{163,219}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{163,219}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,135},{131,223}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{131,223}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_i_5f.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{131,223}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{131,223}}</string>
                <key>sourceSize</key>
                <string>{167,225}</string>
            </dict>
            <key>card_se_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,303},{111,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{111,125}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>card_se_0s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,430},{40,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>card_se_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,377},{113,105}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{113,105}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>card_se_1s.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,470},{36,33}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,33}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>card_se_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{115,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,135}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>card_se_2s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,430},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>card_se_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,136},{95,123}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{95,123}}</string>
                <key>sourceSize</key>
                <string>{115,135}</string>
            </dict>
            <key>card_se_3s.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,436},{32,43}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>card_w_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,251},{42,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,135},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,436},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,421},{40,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,295},{40,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,223},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,207},{42,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_0a.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,436},{46,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_0b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,48},{42,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_0c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,261},{40,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_0d.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,421},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_0e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,430},{38,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,163},{42,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,223},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,223},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,223},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,379},{40,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{40,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,229},{40,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,223},{44,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,119},{42,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,436},{46,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,92},{42,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,229},{40,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,337},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,65}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{40,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>card_w_4f.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,471},{23,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,144}}</string>
                <key>sourceSize</key>
                <string>{27,144}</string>
            </dict>
            <key>card_w_5f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{27,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,140}}</string>
                <key>sourceSize</key>
                <string>{27,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1147,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea80512487300b1cfbd4c5ab1d5c1eb:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
