<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_task_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>i_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>i_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>i_task_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,90},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>i_task_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>task_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,68},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>task_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{186,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,64}}</string>
                <key>sourceSize</key>
                <string>{188,64}</string>
            </dict>
            <key>task_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,84},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>task_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{137,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,31}}</string>
                <key>sourceSize</key>
                <string>{137,31}</string>
            </dict>
            <key>task_processbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,31}}</string>
                <key>sourceSize</key>
                <string>{137,31}</string>
            </dict>
            <key>w_task_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{40,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{40,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_ui.png</string>
            <key>size</key>
            <string>{512,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5196cca772efcc08764d9136d6dd01:1/1$</string>
            <key>textureFileName</key>
            <string>task_ui.png</string>
        </dict>
    </dict>
</plist>
