<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_anim_lose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{42,72}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,29},{42,72}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1186},{482,100}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1186},{482,100}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose12.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1186},{482,100}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{482,98}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{482,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,702},{482,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,702},{482,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,218},{482,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose17.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,702},{482,100}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{482,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{482,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{482,112}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,218},{482,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{482,104}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,218},{154,80}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,21},{154,80}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,218},{482,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{482,108}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1488},{206,98}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,3},{206,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1670},{308,98}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,3},{308,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1146},{340,98}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,3},{340,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,702},{442,100}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{442,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,100}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{508,100}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{496,98}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{496,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
            <key>mj_anim_lose9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{488,98}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{488,98}}</string>
                <key>sourceSize</key>
                <string>{512,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_anim_lose.png</string>
            <key>size</key>
            <string>{512,1773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f171d3f29d674df2afeeb5ca19cb39:1/1$</string>
            <key>textureFileName</key>
            <string>mj_anim_lose.png</string>
        </dict>
    </dict>
</plist>
