<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_anim_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{1008,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{1008,236}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win10.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,564},{690,234}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,12},{690,234}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1512},{690,236}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,12},{690,236}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,98},{692,230}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,15},{692,230}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{692,230}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,15},{692,230}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win14.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,330},{682,232}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,13},{682,232}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{682,232}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,13},{682,232}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win16.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{542,94}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,80},{542,94}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,94}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,80},{542,94}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1750},{698,238}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,8},{698,238}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{690,234}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,12},{690,234}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{690,236}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,12},{690,236}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win5.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1036},{690,236}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,12},{690,236}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{688,234}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,11},{688,234}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win7.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1750},{688,238}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,11},{688,238}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,800},{688,234}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,11},{688,234}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
            <key>mj_anim_win9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{688,234}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,12},{688,234}}</string>
                <key>sourceSize</key>
                <string>{1024,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_anim_win.png</string>
            <key>size</key>
            <string>{1392,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0ac2e4eb52c21327c3dccdf23d4adb2:1/1$</string>
            <key>textureFileName</key>
            <string>mj_anim_win.png</string>
        </dict>
    </dict>
</plist>
