<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_anim_lose_w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,722},{78,72}}</string>
                <key>offset</key>
                <string>{-217,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{78,72}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{498,184}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,29},{498,184}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,182}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{508,182}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,356},{494,180}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,35},{494,180}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w13.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{484,166}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{484,166}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{470,146}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,67},{470,146}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{450,144}}</string>
                <key>offset</key>
                <string>{31,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{450,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{444,144}}</string>
                <key>offset</key>
                <string>{34,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,70},{444,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,884},{412,142}}</string>
                <key>offset</key>
                <string>{37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{412,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{412,144}}</string>
                <key>offset</key>
                <string>{43,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,71},{412,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{408,146}}</string>
                <key>offset</key>
                <string>{52,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{408,146}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1506},{238,160}}</string>
                <key>offset</key>
                <string>{-137,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{238,160}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w20.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1028},{406,144}}</string>
                <key>offset</key>
                <string>{53,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,69},{406,144}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{396,142}}</string>
                <key>offset</key>
                <string>{58,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,69},{396,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w22.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1106},{390,138}}</string>
                <key>offset</key>
                <string>{61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,70},{390,138}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1356},{378,142}}</string>
                <key>offset</key>
                <string>{67,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,64},{378,142}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w24.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1506},{374,150}}</string>
                <key>offset</key>
                <string>{69,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,56},{374,150}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w25.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,538},{182,80}}</string>
                <key>offset</key>
                <string>{141,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,124},{182,80}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,884},{282,168}}</string>
                <key>offset</key>
                <string>{-115,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{282,168}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w4.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1168},{336,166}}</string>
                <key>offset</key>
                <string>{-88,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{336,166}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{350,160}}</string>
                <key>offset</key>
                <string>{-81,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{350,160}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1174},{382,180}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{382,180}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,712},{436,170}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{436,170}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w8.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,538},{444,172}}</string>
                <key>offset</key>
                <string>{-32,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{444,172}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>mj_anim_lose_w9.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,170},{478,184}}</string>
                <key>offset</key>
                <string>{-17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{478,184}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_anim_losewind.png</string>
            <key>size</key>
            <string>{1000,1672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343091f248e7b3297e2b72b37946ebfb:1/1$</string>
            <key>textureFileName</key>
            <string>mj_anim_losewind.png</string>
        </dict>
    </dict>
</plist>
