<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,15},{386,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,11}}</string>
                <key>sourceSize</key>
                <string>{386,11}</string>
            </dict>
            <key>barprogress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,28},{227,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,11}}</string>
                <key>sourceSize</key>
                <string>{227,11}</string>
            </dict>
            <key>bartrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{386,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,11}}</string>
                <key>sourceSize</key>
                <string>{386,11}</string>
            </dict>
            <key>bartrack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{227,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,11}}</string>
                <key>sourceSize</key>
                <string>{227,11}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,69},{1,1}}</string>
                <key>offset</key>
                <string>{-3.5,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,15},{207,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{207,52}}</string>
                <key>sourceSize</key>
                <string>{227,72}</string>
            </dict>
            <key>btn_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,47},{252,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{252,68}}</string>
                <key>sourceSize</key>
                <string>{260,84}</string>
            </dict>
            <key>btn_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,28},{156,69}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{156,69}}</string>
                <key>sourceSize</key>
                <string>{160,85}</string>
            </dict>
            <key>btn_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,298},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>btn_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,59},{207,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{207,58}}</string>
                <key>sourceSize</key>
                <string>{227,72}</string>
            </dict>
            <key>btn_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,117},{246,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{246,72}}</string>
                <key>sourceSize</key>
                <string>{260,84}</string>
            </dict>
            <key>btn_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,157},{156,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{156,73}}</string>
                <key>sourceSize</key>
                <string>{160,85}</string>
            </dict>
            <key>button_small_delimeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,157},{4,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,104}}</string>
                <key>sourceSize</key>
                <string>{4,104}</string>
            </dict>
            <key>cell_small_delimeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,492},{120,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,2}}</string>
                <key>sourceSize</key>
                <string>{120,2}</string>
            </dict>
            <key>chat_msg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,43}}</string>
                <key>sourceSize</key>
                <string>{433,43}</string>
            </dict>
            <key>checkbox_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,400},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>checkbox_uncheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,364},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>clock_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,242},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>desks_sit_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>desks_splitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,257},{2,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,61}}</string>
                <key>sourceSize</key>
                <string>{2,61}</string>
            </dict>
            <key>g_bar_block_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,232},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>g_bar_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,430},{60,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{60,80}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>g_bar_expand_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{81,363}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,363}}</string>
                <key>sourceSize</key>
                <string>{83,365}</string>
            </dict>
            <key>g_bar_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,359},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{48,42}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>g_bar_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,353},{58,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,90}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>g_bar_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,423},{58,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,84}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>g_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,448},{106,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,42}}</string>
                <key>sourceSize</key>
                <string>{106,42}</string>
            </dict>
            <key>g_btn_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,47},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>g_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,445},{65,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{65,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>g_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,416},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>g_head_frame_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,225},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>g_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,426},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>g_icon_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,350},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>g_icon_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,354},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>g_icon_invite_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,354},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>g_icon_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,350},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>g_icon_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,453},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{45,50}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>g_icon_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,458},{39,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>g_icon_robot.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,444},{57,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,46}}</string>
                <key>sourceSize</key>
                <string>{57,46}</string>
            </dict>
            <key>g_icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,452},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>g_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,423},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>g_w_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,72},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>g_w_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,114},{82,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>game_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{80,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>game_panel_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,322},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{32,26}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>game_panel_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,458},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{40,30}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>game_panel_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,426},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>game_player_sit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,458},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>hall_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,15},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,16}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>hall_dot_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,490},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>hall_word_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,197},{183,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,43}}</string>
                <key>sourceSize</key>
                <string>{183,43}</string>
            </dict>
            <key>hardcash.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,307},{67,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{67,44}}</string>
                <key>sourceSize</key>
                <string>{71,54}</string>
            </dict>
            <key>hardcash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,50},{30,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>hardcash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,479},{43,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,119},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>icon_battery_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,73},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>icon_battery_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,412},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>icon_battery_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,394},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>icon_sysmsg_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,358},{53,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>icon_sysmsg_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,400},{56,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,47}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>icon_sysmsg_msg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,416},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>icon_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,495},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>icon_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,492},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,430},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,364},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,496},{104,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,4}}</string>
                <key>sourceSize</key>
                <string>{104,4}</string>
            </dict>
            <key>m_awardBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,392},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>m_awardBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,318},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>m_awardBtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,394},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>m_awardDelimeter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,454},{44,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,2}}</string>
                <key>sourceSize</key>
                <string>{44,2}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,403},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>n_w_xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,197},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>netload_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,252},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>notice_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,191},{240,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,59}}</string>
                <key>sourceSize</key>
                <string>{240,59}</string>
            </dict>
            <key>panel_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,226},{153,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,90}}</string>
                <key>sourceSize</key>
                <string>{153,90}</string>
            </dict>
            <key>panel_t4_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,99},{180,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,65}}</string>
                <key>sourceSize</key>
                <string>{180,65}</string>
            </dict>
            <key>panel_t4_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,166},{180,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,58}}</string>
                <key>sourceSize</key>
                <string>{180,58}</string>
            </dict>
            <key>panel_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,403},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>panel_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,403},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>player_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,242},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>poker_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,403},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>poker_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,403},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,232},{120,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,88}}</string>
                <key>sourceSize</key>
                <string>{120,88}</string>
            </dict>
            <key>s_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,357},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>s_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,322},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>scrollbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,157},{4,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,104}}</string>
                <key>sourceSize</key>
                <string>{4,104}</string>
            </dict>
            <key>scrollbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,444},{7,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,45}}</string>
                <key>sourceSize</key>
                <string>{7,45}</string>
            </dict>
            <key>softcash.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,318},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>softcash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,318},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ui_panel_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,449},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ui_panel_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,119},{194,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,76}}</string>
                <key>sourceSize</key>
                <string>{194,76}</string>
            </dict>
            <key>ui_panel_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,69},{194,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,86}}</string>
                <key>sourceSize</key>
                <string>{194,86}</string>
            </dict>
            <key>ui_panel_tabl_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,252},{85,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,190}}</string>
                <key>sourceSize</key>
                <string>{85,194}</string>
            </dict>
            <key>ui_panel_tabl_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,252},{88,194}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,194}}</string>
                <key>sourceSize</key>
                <string>{90,194}</string>
            </dict>
            <key>w_c_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,257},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>w_c_chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,156},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>w_c_cy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,156},{38,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,99}}</string>
                <key>sourceSize</key>
                <string>{38,99}</string>
            </dict>
            <key>w_c_cy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,263},{38,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,99}}</string>
                <key>sourceSize</key>
                <string>{38,99}</string>
            </dict>
            <key>w_c_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,258},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>w_c_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,157},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>xpsliderProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,50},{209,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,7}}</string>
                <key>sourceSize</key>
                <string>{209,7}</string>
            </dict>
            <key>xpsliderTrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,41},{209,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,7}}</string>
                <key>sourceSize</key>
                <string>{209,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_ui.png</string>
            <key>size</key>
            <string>{1124,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bbada85b91123fd09d1614cca2f15d2:1/1$</string>
            <key>textureFileName</key>
            <string>game_ui.png</string>
        </dict>
    </dict>
</plist>
