<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_inner1_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1874},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>bg_inner_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1232},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>bg_littlenotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1469},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>bg_panel_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1314},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>g_bg_input_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>g_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>g_showl_msgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>g_showr_msgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,785},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>g_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1556},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>game_b_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,893},{250,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,59}}</string>
                <key>sourceSize</key>
                <string>{250,59}</string>
            </dict>
            <key>game_notifyBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1628},{211,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,40}}</string>
                <key>sourceSize</key>
                <string>{211,40}</string>
            </dict>
            <key>goods_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,666},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hall_table_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1499},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>hall_table_bg_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1392},{75,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>hall_tables_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1145},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>main_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1413},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>main_notify_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1942},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>main_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,84}}</string>
                <key>sourceSize</key>
                <string>{93,84}</string>
            </dict>
            <key>panel_button_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,456},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>panel_cash_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1628},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>panel_cash_input_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{382,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,58}}</string>
                <key>sourceSize</key>
                <string>{382,58}</string>
            </dict>
            <key>panel_di_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>panel_inner_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,728},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>panel_t1_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>panel_t2_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>panel_t3_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{106,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,101}}</string>
                <key>sourceSize</key>
                <string>{106,101}</string>
            </dict>
            <key>panel_t4_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{130,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,97}}</string>
                <key>sourceSize</key>
                <string>{130,97}</string>
            </dict>
            <key>panel_t5_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{108,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,93}}</string>
                <key>sourceSize</key>
                <string>{108,93}</string>
            </dict>
            <key>panel_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{179,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,98}}</string>
                <key>sourceSize</key>
                <string>{179,98}</string>
            </dict>
            <key>player_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,168}}</string>
                <key>sourceSize</key>
                <string>{120,168}</string>
            </dict>
            <key>poker_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1874},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>poker_nick_area.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,518},{65,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>poker_panel_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>poker_panel_frame_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,394},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>poker_white_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{268,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,44}}</string>
                <key>sourceSize</key>
                <string>{268,44}</string>
            </dict>
            <key>shop_gezibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1923},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ui_panel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>ui_panel_inner_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,578},{86,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,66}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameui_scale9.png</string>
            <key>size</key>
            <string>{181,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413dacd200f9a6902f3464bb7a9ba7a4:1/1$</string>
            <key>textureFileName</key>
            <string>gameui_scale9.png</string>
        </dict>
    </dict>
</plist>
