<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dn_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,276},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>dn_betCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,261},{165,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,49}}</string>
                <key>sourceSize</key>
                <string>{165,49}</string>
            </dict>
            <key>dn_botsBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,420},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_calculateBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{558,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,87}}</string>
                <key>sourceSize</key>
                <string>{558,87}</string>
            </dict>
            <key>dn_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,308},{79,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,96}}</string>
                <key>sourceSize</key>
                <string>{79,96}</string>
            </dict>
            <key>dn_desk_amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,276},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>dn_hintResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{959,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{959,86}}</string>
                <key>sourceSize</key>
                <string>{959,86}</string>
            </dict>
            <key>dn_hintScore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,277},{204,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,87}}</string>
                <key>sourceSize</key>
                <string>{204,87}</string>
            </dict>
            <key>dn_hintScore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,188},{206,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,87}}</string>
                <key>sourceSize</key>
                <string>{206,87}</string>
            </dict>
            <key>dn_hintScore3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,186},{204,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,87}}</string>
                <key>sourceSize</key>
                <string>{204,87}</string>
            </dict>
            <key>dn_hintScore4.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,99},{206,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,87}}</string>
                <key>sourceSize</key>
                <string>{206,87}</string>
            </dict>
            <key>dn_holdbank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,406},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>dn_holdbank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,277},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>dn_lose_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,192},{171,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,51}}</string>
                <key>sourceSize</key>
                <string>{171,51}</string>
            </dict>
            <key>dn_meiniu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,343},{89,47}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,47}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>dn_multipleBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{558,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,87}}</string>
                <key>sourceSize</key>
                <string>{558,87}</string>
            </dict>
            <key>dn_multipleBarBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,445},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>dn_multipleBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,389},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>dn_multipleBtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,333},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>dn_niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,90},{334,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,297}}</string>
                <key>sourceSize</key>
                <string>{334,297}</string>
            </dict>
            <key>dn_niu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,228},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,180},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,121},{188,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,69}}</string>
                <key>sourceSize</key>
                <string>{188,69}</string>
            </dict>
            <key>dn_niu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,50},{188,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,69}}</string>
                <key>sourceSize</key>
                <string>{188,69}</string>
            </dict>
            <key>dn_niu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,192},{188,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{188,67}}</string>
                <key>sourceSize</key>
                <string>{188,69}</string>
            </dict>
            <key>dn_niu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,121},{184,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,69}}</string>
                <key>sourceSize</key>
                <string>{188,69}</string>
            </dict>
            <key>dn_niu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,50},{188,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,69}}</string>
                <key>sourceSize</key>
                <string>{188,69}</string>
            </dict>
            <key>dn_niu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,454},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,406},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,358},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,310},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,389},{139,46}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,454},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,457},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,442},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_niu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>dn_noNiuBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,389},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_noNiuBtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,392},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_noSelBankBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,377},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_noSelBankBtn_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,245},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_noSelBankLeftPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,456},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>dn_noSelBankRightPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,400},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>dn_noSelBank_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,364},{94,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,46}}</string>
                <key>sourceSize</key>
                <string>{94,46}</string>
            </dict>
            <key>dn_readyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,312},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_readystatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,437},{105,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,48}}</string>
                <key>sourceSize</key>
                <string>{105,48}</string>
            </dict>
            <key>dn_selBankBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,155},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_selBankBtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,115},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_selBankLeftPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,451},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>dn_selBankRightPop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,400},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>dn_selBank_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,180},{95,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,47}}</string>
                <key>sourceSize</key>
                <string>{95,47}</string>
            </dict>
            <key>dn_showCardBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_showCardBtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,50},{151,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,63}}</string>
                <key>sourceSize</key>
                <string>{151,63}</string>
            </dict>
            <key>dn_tipText1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{488,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,46}}</string>
                <key>sourceSize</key>
                <string>{488,46}</string>
            </dict>
            <key>dn_tipText2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{654,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{654,46}}</string>
                <key>sourceSize</key>
                <string>{658,46}</string>
            </dict>
            <key>dn_tipText3.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{654,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{654,46}}</string>
                <key>sourceSize</key>
                <string>{658,46}</string>
            </dict>
            <key>dn_tipText4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{488,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,46}}</string>
                <key>sourceSize</key>
                <string>{488,46}</string>
            </dict>
            <key>dn_tipText5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,460},{248,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,48}}</string>
                <key>sourceSize</key>
                <string>{248,48}</string>
            </dict>
            <key>dn_tipText6.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,50},{247,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,47}}</string>
                <key>sourceSize</key>
                <string>{247,47}</string>
            </dict>
            <key>dn_tipText7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{654,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{654,46}}</string>
                <key>sourceSize</key>
                <string>{658,46}</string>
            </dict>
            <key>dn_tipText8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{255,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,48}}</string>
                <key>sourceSize</key>
                <string>{255,48}</string>
            </dict>
            <key>dn_w_danzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,121},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>dn_win_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,366},{170,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,52}}</string>
                <key>sourceSize</key>
                <string>{170,52}</string>
            </dict>
            <key>dn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,50},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>dn_youniu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,392},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{95,51}</string>
            </dict>
            <key>dn_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,276},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dn_ui.png</string>
            <key>size</key>
            <string>{1841,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07f64a4977ddfeaf42634170f700345:1/1$</string>
            <key>textureFileName</key>
            <string>dn_ui.png</string>
        </dict>
    </dict>
</plist>
