<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_0.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_0.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_0.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_0.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_0.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_0.5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_200000.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>b_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>chip_0@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_1000000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_100000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_10000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_1000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_100@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_10@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_20000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_2000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_20@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_250@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_25@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_50000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_5000@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_500@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_50@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chip_5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{1754,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8439519cf9389ca7d61eeb7803daf013:1/1$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
