<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,516},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>ddz_g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,516},{61,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{61,64}</string>
            </dict>
            <key>ddz_g_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,516},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ddz_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{928,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,512}}</string>
                <key>sourceSize</key>
                <string>{928,512}</string>
            </dict>
            <key>ddz_score_broke.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,516},{126,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,88}}</string>
                <key>sourceSize</key>
                <string>{126,88}</string>
            </dict>
            <key>ddz_score_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ddz_score_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{650,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,94}}</string>
                <key>sourceSize</key>
                <string>{650,94}</string>
            </dict>
            <key>ddz_score_light_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,606},{5,5}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>ddz_score_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{650,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,2}}</string>
                <key>sourceSize</key>
                <string>{650,2}</string>
            </dict>
            <key>ddz_score_shangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,97},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>ddz_score_xiajia.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,60},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_score.png</string>
            <key>size</key>
            <string>{990,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6db4e3a75da8f37e4a4fe7aa5b87cccb:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_score.png</string>
        </dict>
    </dict>
</plist>
