<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_wuyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,180},{185,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,99}}</string>
                <key>sourceSize</key>
                <string>{185,99}</string>
            </dict>
            <key>ddz_xuanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{373,357}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,357}}</string>
                <key>sourceSize</key>
                <string>{373,371}</string>
            </dict>
            <key>ddz_yanhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,152}}</string>
                <key>sourceSize</key>
                <string>{385,152}</string>
            </dict>
            <key>ddz_yanhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{226,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,200}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>ddz_yu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,30},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>ddz_yu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>ddz_yu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,58},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>ddz_yudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{176,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,103}}</string>
                <key>sourceSize</key>
                <string>{176,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_scoreanim.png</string>
            <key>size</key>
            <string>{509,743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941750d6a047c6956d7ed11528b755e5$</string>
            <key>textureFileName</key>
            <string>ddz_scoreanim.png</string>
        </dict>
    </dict>
</plist>
