<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_1fen_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_1fen_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_2fen_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_2fen_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,164},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_3fen_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_3fen_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_buchu_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,356},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_buchu_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,356},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_bujiabei_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,356},{153,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_bujiabei_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{153,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_bujiao_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_bujiao_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_card_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>ddz_card_counter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,90},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>ddz_card_counter_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,90},{450,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,67}}</string>
                <key>sourceSize</key>
                <string>{450,69}</string>
            </dict>
            <key>ddz_dizhu_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,90},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>ddz_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>ddz_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,90},{69,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,61}}</string>
                <key>sourceSize</key>
                <string>{69,61}</string>
            </dict>
            <key>ddz_farmer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,90},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{30,72}</string>
            </dict>
            <key>ddz_gray_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,90},{152,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{152,63}}</string>
                <key>sourceSize</key>
                <string>{164,85}</string>
            </dict>
            <key>ddz_green_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,90},{152,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{152,63}}</string>
                <key>sourceSize</key>
                <string>{164,85}</string>
            </dict>
            <key>ddz_jiabei_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_jiabei_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,260},{137,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{137,94}}</string>
                <key>sourceSize</key>
                <string>{153,94}</string>
            </dict>
            <key>ddz_landlord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,90},{31,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,72}}</string>
                <key>sourceSize</key>
                <string>{31,72}</string>
            </dict>
            <key>ddz_liandui.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,356},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>ddz_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,90},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>ddz_note.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,90},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>ddz_red_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,90},{152,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{152,63}}</string>
                <key>sourceSize</key>
                <string>{164,85}</string>
            </dict>
            <key>ddz_score_mums.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{372,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{372,29}}</string>
                <key>sourceSize</key>
                <string>{372,31}</string>
            </dict>
            <key>ddz_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,90},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>ddz_shunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,356},{205,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,136}}</string>
                <key>sourceSize</key>
                <string>{205,136}</string>
            </dict>
            <key>ddz_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,44},{362,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,41}}</string>
                <key>sourceSize</key>
                <string>{362,45}</string>
            </dict>
            <key>ddz_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,44},{329,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{329,43}}</string>
                <key>sourceSize</key>
                <string>{329,45}</string>
            </dict>
            <key>ddz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,90},{135,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,53}}</string>
                <key>sourceSize</key>
                <string>{135,53}</string>
            </dict>
            <key>ddz_w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_1fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{84,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_2fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,44},{84,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_3fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,44},{84,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>ddz_w_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{82,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,44},{129,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,44}}</string>
                <key>sourceSize</key>
                <string>{129,44}</string>
            </dict>
            <key>ddz_w_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{82,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,38}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_chupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,44},{82,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,44},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>ddz_w_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,44},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_lose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,164},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>ddz_w_lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,164},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>ddz_w_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,90},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>ddz_w_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{82,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_sy.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,90},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>ddz_w_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>ddz_w_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{233,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,39}}</string>
                <key>sourceSize</key>
                <string>{233,43}</string>
            </dict>
            <key>ddz_w_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{281,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{281,84}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>ddz_w_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,164},{281,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{281,84}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>ddz_w_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_ui.png</string>
            <key>size</key>
            <string>{1344,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eab310e1973cf21636fb54739ea5bc7:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_ui.png</string>
        </dict>
    </dict>
</plist>
