<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,126},{124,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{124,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,708},{100,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{100,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,368},{122,114}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{120,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{120,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,590},{120,116}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{120,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{120,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{124,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,484},{120,120}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,370},{122,112}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{122,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,118}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,606},{120,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{120,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,598},{120,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{120,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,484},{120,112}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{120,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,252},{122,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{116,122}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{116,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,244},{116,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{122,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,246},{122,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,114}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{124,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,362},{122,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,122},{122,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,480},{122,108}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{122,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>face_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,124},{126,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>face.png</string>
            <key>size</key>
            <string>{512,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d680c05321e0992555facab43fe05f9f$</string>
            <key>textureFileName</key>
            <string>face.png</string>
        </dict>
    </dict>
</plist>
