<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,366},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>i_room_dn_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,312}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,26},{152,312}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>i_room_dn_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,306}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,25},{152,306}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>i_room_dn_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,310},{154,304}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,25},{154,304}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>i_room_notopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{287,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{287,302}}</string>
                <key>sourceSize</key>
                <string>{335,320}</string>
            </dict>
            <key>i_room_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,165},{122,159}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{122,159}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>i_room_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,288},{118,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{118,173}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>i_room_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{138,159}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{138,159}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>i_room_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{136,161}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{136,161}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>i_room_zjh_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,306},{154,288}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,50},{154,288}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>i_room_zjh_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{132,288}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,47},{132,288}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>i_room_zjh_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{132,284}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,47},{132,284}}</string>
                <key>sourceSize</key>
                <string>{420,392}</string>
            </dict>
            <key>r_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,326},{51,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,22}</string>
            </dict>
            <key>r_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,347},{91,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,17}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>r_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,379},{81,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{81,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>r_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,379},{83,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{83,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
            <key>r_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,326},{93,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,19}}</string>
                <key>sourceSize</key>
                <string>{93,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_room.png</string>
            <key>size</key>
            <string>{1005,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b69a98693325508bff09f435dc3f711:1/1$</string>
            <key>textureFileName</key>
            <string>hall_room.png</string>
        </dict>
    </dict>
</plist>
