<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desks_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hall_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{24,32}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hall_btn_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>hall_ddz_goldKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>hall_tableList.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{42,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{42,30}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hall_tableShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{48,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{48,26}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>item_r_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{340,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{340,180}}</string>
                <key>sourceSize</key>
                <string>{344,184}</string>
            </dict>
            <key>item_r_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,152},{340,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{340,180}}</string>
                <key>sourceSize</key>
                <string>{344,184}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{26,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>playnow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>title_bar_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>w_hall_enter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{183,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,26}}</string>
                <key>sourceSize</key>
                <string>{183,26}</string>
            </dict>
            <key>w_hall_enter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,124},{183,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,26}}</string>
                <key>sourceSize</key>
                <string>{183,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ui.png</string>
            <key>size</key>
            <string>{700,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4540241ae13978f3609e7381b3caae49:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ui.png</string>
        </dict>
    </dict>
</plist>
