<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjh_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,280},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,82},{34,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,408},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,346},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,68},{60,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,394},{68,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{68,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,394},{80,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,63},{80,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{100,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,51},{100,98}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,280},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{114,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,148},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{136,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{152,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{152,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{170,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{180,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{168,172}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{168,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zjh_bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{170,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{170,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh_bomb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a24ebf96c81f445e001136f28a087c0$</string>
            <key>textureFileName</key>
            <string>zjh_bomb.png</string>
        </dict>
    </dict>
</plist>
