<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_btn_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{122,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,59}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>ui_panel_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ui_panel_tabl_nor_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{90,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,194}}</string>
                <key>sourceSize</key>
                <string>{90,194}</string>
            </dict>
            <key>ui_panel_tabl_sel_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{90,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,194}}</string>
                <key>sourceSize</key>
                <string>{90,194}</string>
            </dict>
            <key>w_c_chat1_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,58},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>w_c_chat2_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,58},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>w_c_cy1_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>w_c_cy2_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>w_c_face1_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,58},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
            <key>w_c_face2_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{54,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,119}}</string>
                <key>sourceSize</key>
                <string>{54,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh_chat_ui.png</string>
            <key>size</key>
            <string>{983,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec33a656b40a6062909d083f21dd9fc:1/1$</string>
            <key>textureFileName</key>
            <string>zjh_chat_ui.png</string>
        </dict>
    </dict>
</plist>
