<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>type_zjh_baoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1050},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_duiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1014},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_jinhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_shanp.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,991},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_shunjin.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,932},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_shunz.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,873},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>type_zjh_zahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,139},{106,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,57}}</string>
                <key>sourceSize</key>
                <string>{108,59}</string>
            </dict>
            <key>zjh_betCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,362},{153,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,51}}</string>
                <key>sourceSize</key>
                <string>{153,51}</string>
            </dict>
            <key>zjh_betRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{149,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,45}}</string>
                <key>sourceSize</key>
                <string>{149,45}</string>
            </dict>
            <key>zjh_betbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{104,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,58}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>zjh_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,902},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>zjh_btn_blue_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,902},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>zjh_btn_blue_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,642},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>zjh_btn_blue_r_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,557},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>zjh_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,902},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>zjh_btn_green_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,902},{110,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,63}}</string>
                <key>sourceSize</key>
                <string>{110,63}</string>
            </dict>
            <key>zjh_check_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1155},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>zjh_check_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1182},{26,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>zjh_comp1areLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,108},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>zjh_compareLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,727},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>zjh_desk_amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1073},{104,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,30}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>zjh_desk_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1187},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zjh_desks_compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{120,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zjh_disc1ard.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1146},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>zjh_discard.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,474},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>zjh_epop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{199,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,197}}</string>
                <key>sourceSize</key>
                <string>{199,197}</string>
            </dict>
            <key>zjh_ji_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1127},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zjh_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,247},{75,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{75,76}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>zjh_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,873},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zjh_menu_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,548},{192,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,59}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>zjh_menu_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{178,59}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{178,59}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>zjh_menu_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,742},{182,65}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{182,65}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>zjh_msgaddpay0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1051},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>zjh_msgaddpay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgopencard0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,970},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>zjh_msgopencard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgpass0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,926},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>zjh_msgpass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1139},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgpay0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1007},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>zjh_msgpay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1109},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgpk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,963},{61,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,42}}</string>
                <key>sourceSize</key>
                <string>{61,42}</string>
            </dict>
            <key>zjh_msgpk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1109},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgready0.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1115},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_msgready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1095},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>zjh_op_bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{116,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,370}}</string>
                <key>sourceSize</key>
                <string>{116,370}</string>
            </dict>
            <key>zjh_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,847},{114,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>zjh_pk_lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,181}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{447,181}}</string>
                <key>sourceSize</key>
                <string>{449,193}</string>
            </dict>
            <key>zjh_pk_rbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{427,175}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{427,175}}</string>
                <key>sourceSize</key>
                <string>{449,193}</string>
            </dict>
            <key>zjh_pk_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,480},{160,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,96}}</string>
                <key>sourceSize</key>
                <string>{164,98}</string>
            </dict>
            <key>zjh_pkstatus0.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,745},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zjh_pkstatus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zjh_readystatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,740},{105,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,48}}</string>
                <key>sourceSize</key>
                <string>{105,48}</string>
            </dict>
            <key>zjh_see1card.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,517},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>zjh_seecard.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,391},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>zjh_type_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,578},{159,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,59}}</string>
                <key>sourceSize</key>
                <string>{159,59}</string>
            </dict>
            <key>zjh_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,639},{154,104}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{154,104}}</string>
                <key>sourceSize</key>
                <string>{186,140}</string>
            </dict>
            <key>zjh_w_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1105},{97,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,48}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zjh_w_danzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1159},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>zjh_w_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1026},{99,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,48}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zjh_w_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1014},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,48}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zjh_w_kanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,925},{99,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{99,48}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zjh_w_lun.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1155},{59,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,26}}</string>
                <key>sourceSize</key>
                <string>{61,26}</string>
            </dict>
            <key>zjh_w_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{97,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,48}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>zjh_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,810},{81,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>zjh_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,324},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zjh_ui.png</string>
            <key>size</key>
            <string>{511,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7f22a4da058bc009d7ae8fbf2152130:1/1$</string>
            <key>textureFileName</key>
            <string>zjh_ui.png</string>
        </dict>
    </dict>
</plist>
