<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gicon_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{294,246}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{294,246}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>gicon_dn.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,250},{266,254}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{266,254}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>gicon_zjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,250},{256,256}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{328,256}</string>
            </dict>
            <key>room_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{307,320}}</string>
                <key>sourceSize</key>
                <string>{335,320}</string>
            </dict>
            <key>room_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{279,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{279,54}}</string>
                <key>sourceSize</key>
                <string>{287,54}</string>
            </dict>
            <key>room_title_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,324},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>room_title_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,2},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>room_title_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{27,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_icons.png</string>
            <key>size</key>
            <string>{837,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6101a76f7b9b248fe6547dded762680:1/1$</string>
            <key>textureFileName</key>
            <string>game_icons.png</string>
        </dict>
    </dict>
</plist>
