<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interative_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{114,80}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{114,80}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,84},{106,90}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{106,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{150,96}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,48},{150,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{188,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{170,148}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{170,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,150}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{188,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,162}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{188,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{170,148}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{170,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,150}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{188,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>interative_8.png</string>
            <key>size</key>
            <string>{498,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54e6827fcb7bfdd633c26614d876ffe9$</string>
            <key>textureFileName</key>
            <string>interative_8.png</string>
        </dict>
    </dict>
</plist>
