<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interative_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{112,62}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,103},{112,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,162},{100,64}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,99},{100,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,162}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{178,142}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,44},{178,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{194,154}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{194,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,162}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,86},{104,74}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,92},{104,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{104,82}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,86},{104,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{118,94}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{118,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,464},{134,106}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,69},{134,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,228},{148,116}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,61},{148,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,378},{164,130}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,51},{164,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,320},{180,142}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{180,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_7_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,166},{194,152}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>interative_7.png</string>
            <key>size</key>
            <string>{512,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4413a83666372ecd3c4a178bca0d9e3$</string>
            <key>textureFileName</key>
            <string>interative_7.png</string>
        </dict>
    </dict>
</plist>
