<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interative_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{88,130}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{88,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,188},{62,90}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{62,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,356},{118,144}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,39},{118,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,352},{126,144}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,39},{126,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{142,152}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{142,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,298},{154,156}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{154,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,186},{170,164}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{170,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,178},{184,172}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{184,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{196,182}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{196,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,186},{174,168}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{174,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{188,174}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{118,170}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{118,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{198,182}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{198,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{88,130}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,47},{88,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,188},{108,158}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{108,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,566},{100,144}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{100,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{114,152}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{114,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,476},{100,144}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{100,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,356},{100,144}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,39},{100,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>interative_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,454},{110,144}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,39},{110,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>interative_3.png</string>
            <key>size</key>
            <string>{994,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:979a17ff0bf42d5e4e5558cac16d7713$</string>
            <key>textureFileName</key>
            <string>interative_3.png</string>
        </dict>
    </dict>
</plist>
