<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,223},{131,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,33}}</string>
                <key>sourceSize</key>
                <string>{131,33}</string>
            </dict>
            <key>btn_p_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,378},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>btn_p_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,342},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>btn_p_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,290},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>btn_p_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,373},{108,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,49}}</string>
                <key>sourceSize</key>
                <string>{108,49}</string>
            </dict>
            <key>btn_s_changeaccount.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,205},{234,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{234,55}}</string>
                <key>sourceSize</key>
                <string>{236,55}</string>
            </dict>
            <key>btn_s_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>btn_u_album.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,219},{157,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,46}}</string>
                <key>sourceSize</key>
                <string>{157,46}</string>
            </dict>
            <key>btn_u_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,113},{248,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,60}}</string>
                <key>sourceSize</key>
                <string>{248,66}</string>
            </dict>
            <key>btn_u_bindali.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,143},{248,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{248,60}}</string>
                <key>sourceSize</key>
                <string>{248,66}</string>
            </dict>
            <key>btn_u_bindphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,51},{248,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,60}}</string>
                <key>sourceSize</key>
                <string>{248,66}</string>
            </dict>
            <key>btn_u_changepwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,464},{95,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,34}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>btn_u_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,175},{157,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,46}}</string>
                <key>sourceSize</key>
                <string>{157,46}</string>
            </dict>
            <key>btn_u_upguest.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,428},{97,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,34}}</string>
                <key>sourceSize</key>
                <string>{97,34}</string>
            </dict>
            <key>headbg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,433},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>icon_bank_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,126},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>icon_p_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,236},{164,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,189}}</string>
                <key>sourceSize</key>
                <string>{164,189}</string>
            </dict>
            <key>icon_p_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,57},{193,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,177}}</string>
                <key>sourceSize</key>
                <string>{193,177}</string>
            </dict>
            <key>icon_p_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,57},{162,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,175}}</string>
                <key>sourceSize</key>
                <string>{162,175}</string>
            </dict>
            <key>icon_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,428},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>icon_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,143},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>icon_rank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,430},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>icon_rank_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,234},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>p_bottom_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,346},{80,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,208}}</string>
                <key>sourceSize</key>
                <string>{82,208}</string>
            </dict>
            <key>p_bottom_tab_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,236},{80,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,208}}</string>
                <key>sourceSize</key>
                <string>{82,208}</string>
            </dict>
            <key>p_top_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,262},{82,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,208}}</string>
                <key>sourceSize</key>
                <string>{82,208}</string>
            </dict>
            <key>p_top_tab_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,234},{82,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,208}}</string>
                <key>sourceSize</key>
                <string>{82,208}</string>
            </dict>
            <key>paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,481},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>pay_ali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{204,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>pay_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{204,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{358,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,47}}</string>
                <key>sourceSize</key>
                <string>{358,47}</string>
            </dict>
            <key>rank_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,57},{33,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,2}}</string>
                <key>sourceSize</key>
                <string>{33,2}</string>
            </dict>
            <key>s_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,393},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>s_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,373},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>setting_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,51},{380,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,4}}</string>
                <key>sourceSize</key>
                <string>{380,4}</string>
            </dict>
            <key>task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{741,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,47}}</string>
                <key>sourceSize</key>
                <string>{741,47}</string>
            </dict>
            <key>task_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,446},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>task_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,446},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>task_t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,219},{152,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,47}}</string>
                <key>sourceSize</key>
                <string>{152,47}</string>
            </dict>
            <key>w_taketask.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,57},{68,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,17}}</string>
                <key>sourceSize</key>
                <string>{68,17}</string>
            </dict>
            <key>w_title_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,219},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{152,42}</string>
            </dict>
            <key>w_title_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,428},{171,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,36}}</string>
                <key>sourceSize</key>
                <string>{171,36}</string>
            </dict>
            <key>w_title_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,262},{169,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,34}}</string>
                <key>sourceSize</key>
                <string>{169,34}</string>
            </dict>
            <key>w_title_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,427},{164,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,39}}</string>
                <key>sourceSize</key>
                <string>{164,39}</string>
            </dict>
            <key>w_title_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,175},{165,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,42}}</string>
                <key>sourceSize</key>
                <string>{165,42}</string>
            </dict>
            <key>w_title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,444},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>w_title_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,262},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>w_title_todayrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,258},{131,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,30}}</string>
                <key>sourceSize</key>
                <string>{131,30}</string>
            </dict>
            <key>w_title_todayrank_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{187,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,25}}</string>
                <key>sourceSize</key>
                <string>{187,25}</string>
            </dict>
            <key>w_title_usercenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,51},{267,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,90}}</string>
                <key>sourceSize</key>
                <string>{267,90}</string>
            </dict>
            <key>w_v_cunkuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,466},{34,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>w_v_cunkuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,223},{34,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>w_v_qukuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,428},{34,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,83}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>w_v_qukuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,466},{34,83}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,83}}</string>
                <key>sourceSize</key>
                <string>{38,87}</string>
            </dict>
            <key>w_v_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,40},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>w_v_weixin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,342},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>w_v_yinlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,464},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>w_v_yinlian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,468},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>w_v_zhifubao.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,468},{33,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,133}}</string>
                <key>sourceSize</key>
                <string>{33,133}</string>
            </dict>
            <key>w_v_zhifubao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,468},{33,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,133}}</string>
                <key>sourceSize</key>
                <string>{33,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainpanel_ui.png</string>
            <key>size</key>
            <string>{1152,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ae251b76097e6150eb3c7d13d0c7df6:1/1$</string>
            <key>textureFileName</key>
            <string>mainpanel_ui.png</string>
        </dict>
    </dict>
</plist>
